body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#start{
  margin: 0 auto;
}

/* .znak{
  text-align: center;
}

.dates{
  text-align: center;
} */


h1{
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
  padding:3rem 0;
}

table {
	text-align: center;
	padding: 20px 20px 5px;
	margin: 0 auto;
  border-collapse: collapse;
  border:3px solid rgb(7, 7, 7);
}

th,
td,
tr {
	border:2px solid rgb(128, 128, 128);
	width: 300px;
	text-align: center;
}

th{
  font-size: 1.5rem;
}
td{
  font-size: 1.3rem;
}
